{% trans_default_domain "layout" %}

<ul>
    <li>
        <a href="{{ path('admin_slides') }}" title="" {% block currentAdminSlides %}{% endblock %}>
            {{ 'aside.link.slideShow.label'| trans({}) }}
        </a>
    </li>

    <li>
        <a href="{{ path('fos_user_security_logout') }}" title="">
            {{ 'aside.link.logout.label'| trans({}) }}
        </a>
    </li>
</ul>