/web/bundles/
/web/uploads/slideshow/*
/web/uploads/exhibitions/*
/web/uploads/albums/*
/web/uploads/press/*
/web/uploads/news/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/
coverage/
