/web/bundles/
/web/uploads/slideshow/*
!/web/uploads/slideshow/.gitkeep
/web/uploads/exhibitions/*
!/web/uploads/exhibitions/.gitkeep
/web/uploads/albums/*
!/web/uploads/albums/.gitkeep
/web/uploads/pressArticles/*
!/web/uploads/pressArticles/.gitkeep
/web/uploads/news/*
!/web/uploads/news/.gitkeep
/web/uploads/biography/*
!/web/uploads/biography/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/
coverage/
