{% extends '::layout.html.twig' %}

{% trans_default_domain "publicWorkPhoto" %}

{% block body %}
    <section id="albums">
        {% for photo in photos %}
            <img class="img-max-height-fix" src="{{ asset(photo.webPath) }}" alt="" />
        {% endfor %}
    </section>

    <div class="paginator">
        {{ knp_pagination_render(photos) }}
    </div>
{% endblock %}