{% trans_default_domain "adminWorkPhoto" %}

{{ form_start(addPhotoForm) }}
    {{ form_row(addPhotoForm.files) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-trash-o"></span>
            {{ 'form.create.title' | trans({}) }}
        </button>
    </div>
{{ form_end(addPhotoForm) }}