/* Sticky footer */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
#main-footer, #push {
	height: 50px;
}

/* Padding - Default */
.padding-left {
    padding-left: 20px;
}
.padding-right {
    padding-right: 20px;
}
.padding-bottom {
    padding-bottom: 20px;
}
.padding-top {
    padding-top: 20px;
}
.padding-x {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-y {
    padding-bottom: 20px;
    padding-top: 20px;
}
.padding-xy {
    padding: 20px;
}

/* Margin - Default */
.margin-left {
    margin-left: 20px;
}
.margin-right {
    margin-right: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 20px;
}
.margin-x {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-y {
    margin-bottom: 20px;
    margin-top: 20px;
}
.margin-xy {
    margin: 20px;
}

/* Badge */
.badge.status-active {
    background-color: #3fad46;
}
.badge.status-planned {
    background-color: #f0ad4e;
}
.badge.status-stopped {
    background-color: #d9534f;
}


/* Button & Link */
.btn > .fa, .btn-link > .fa, a > .fa {
    margin-right: 5px;
}

/* Form */
.form-delete {
    display: inline;
}
.submits a, .submits .btn-default {
    display:  inline-block;
    margin-right: 15px;
}
.textarea-large {
    width: 100%;
    height: 250px;
}

/* Table */
.table>thead>tr>th, .table>tbody>tr>td {
    vertical-align: baseline;
}
.table>tbody>tr>td.position {
    text-align: center;
}
table .list-inline {
    margin-bottom: 0;
}

/* Image & Carousel */
table td .img-thumbnail {
	height: 75px;
}
.carousel-inner > .item > img {
	margin: 0 auto;
    height: 500px;
}

/* Pop up */
.modal-content {
    text-align: left;
}

/* Admin Menu */
#admin-menu {
	position: fixed;
	z-index: 100;
}
ul#admin-nav {
	list-style-type: none;
	padding: 0;
	display: table;
	border: 2px solid #999;
}

#admin-nav li {
	border-bottom: 1px solid #999;
}

#admin-nav li:last-of-type {
	border-bottom: 0;
}
#admin-nav li a {
	display: block;
	color: #FFF;
}
#admin-nav li a:hover {
	text-decoration: none;
}
#admin-nav li a:hover span {
	background-color: #888;
}
#admin-nav li a:hover label {
	background-color: #AAA;
}
#admin-nav li span,
	#admin-nav li label  {
	display:  table-cell;
	line-height:  25px;
	vertical-align: middle;
	padding: 5px;
}
#admin-nav li span {
	width: 40px;
	font-size: 20px;
	text-align: center;
	background-color: #999;
}
#admin-nav li label {
	margin: 0;
	width: 145px;
	padding-left: 15px;
	background-color: #BBB;

	display: none;
}

/* Tooltip */
div.tooltip-inner {
	white-space: nowrap;
	max-width: 350px;
}

/* Main */
main.container {
	padding: 20px 45px;
}

/* Pagination */
.paginator {
	text-align: right;
}

/* Main Header */
#main-header a {
	color: #BBB;
	text-transform: uppercase;
}
#main-header h1 a {
	color: #888;
}

#main-header h2 {
	margin-top: 10px;
}
#main-header a:hover {
	text-decoration: none;
}
#main-header nav a:hover {
	color: #888;
}

/* Main Footer */
#main-footer, #main-footer a {
	color: #888;
}

/* Generics */
.invisible {
    visibility: hidden;
}

.img-max-width {
    max-width: 80%;
}

/* Toolip */
.tooltip {
    white-space:pre-wrap;
    word-wrap: break-word;
    max-width: 250px;

}

/* News feed */
#news {
    width: 80%;
    margin: auto;
}
#news img {
    width: 250px;
}
#news article .media-body {
    padding-left: 20px;
    text-align: justify;
}