/* Padding - Default */
.padding-left {
    padding-left: 20px;
}
.padding-right {
    padding-right: 20px;
}
.padding-bottom {
    padding-bottom: 20px;
}
.padding-top {
    padding-top: 20px;
}
.padding-x {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-y {
    padding-bottom: 20px;
    padding-top: 20px;
}
.padding-xy {
    padding: 20px;
}

/* Badge */
.badge.status-inactive {
    background-color: #d9534f;
}
.badge.status-active {
    background-color: #3fad46;
}
.badge.status-to-review {
    background-color: #f0ad4e;
}