{% extends '::layout.html.twig' %}

{% block body %}
    <section id="press">
        {% for pressArticle in pressArticles %}
            <article class="text-center margin-bottom">
                <img class="img-max-width" src="{{ asset(pressArticle.webPath) }}" alt="" />
            </article>
        {% endfor %}
    </section>

    <div class="paginator">
        {{ knp_pagination_render(pressArticles) }}
    </div>
{% endblock %}