<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Pascal Blondeau{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Portfolio of the Artist Photographer Pascal Blondeau" />

    {% block stylesheets %}
        {% include "::components/_stylesheets.html.twig" %}
    {% endblock %}

    {% block icons %}
        {% include "::components/_icons.html.twig" %}
    {% endblock %}
</head>
<body>
    <a href="{{ path('slide_show_public_display') }}">
        <div class="display-table full-size-container">
            <div class="display-cell">
                <div id="home">
                        <div id="title" class="display-table">
                            <div class="display-cell margin-bottom-lg">
                                <h1 class="margin-bottom-none margin-top-none">Pascal Blondeau</h1>
                                <h2 class="margin-top-none">
                                    <span>Artist</span>
                                    <span style="padding-left: 50px">Photographer</span>
                                </h2>
                            </div>
                        </div>

                    <img class="img-max-width margin-top" src="{{ asset('images/home.jpg') }}" alt="Cover" />
                </div>
            </div>
        </div>
    </a>
</body>
</html>