{% extends '::layout.html.twig' %}

{% block body %}
    <article class="media">
        <img class="img-responsive pull-left" src="{{ asset(biography.webPath) }}" alt="" />
        <div class="media-body">
            {{ biography.content |raw }}
        </div>
    </article>
{% endblock %}