{% extends "::layout.html.twig" %}

{% trans_default_domain "adminSlideShow" %}

{% block body %}
    <h1>Slide edit</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_slides') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
